@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: ;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:  var(--font-nunito);
}
html, body{
  height: 100%;
  width: 100%;
}
.page{
  height: 100%; 
  width: 100%;
}