/* NavBar.module.css */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Added this line to vertically center nav items */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579076;
  padding: 10px 0;
  z-index: 100;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 84px; /* Added this line to set a specific height */
}

.navItem {
  font-size: 30px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  color: white;
}

.navItem:hover {
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}